.demo-container {
  margin: 30px;
}

.demo-card-header {
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.demo-card-footer {
  margin: 0px;
  padding: 16px;
}

.field-width-100 ::ng-deep .mat-form-field-infix {
  width: 100px;
}